* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.woff2 binary
*.pdf binary

package-lock.json linguist-generated=true
public/assets/* linguist-generated=true
public/sw.js linguist-generated=true
worker-configuration.d.ts linguist-generated=true
